* {
  box-sizing:border-box;
}

html, body {
  height: 100%;
  margin: 0;
}


.container {
  padding: 0;
  min-height: 100%;

  margin-top: 0px;
  margin-bottom: -70px;
  margin-right: auto;
  margin-left: auto;
}



img {
  width: 30%;
  height: auto;
}


header {
  background-color: gray;
}


header div {
  width:80%;

  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.main-logo {
  color: lightblue;
  background-color: black;

  font-family: 'arial black', arial, helvetica,sans-serif;

  font-size: 6vh;

  margin-left: 5%;
  text decoration: non;
  position: relative;
}

.page-title{
  font-family: 'monospace', monospace, serif;
  font-size: 5vh;
  padding-left: 1%;
  position: relative;

}



section {
  background-image: url('squidguybackground.gif');
  min-height: 1000px;
  min-height:
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  min-height: 2000;
  min-width: 500px;
}



.content {
  background-color: rgba(232, 233, 235, 0.6);
  margin: 0 auto;
  min-height: 700px;
  padding: 50px;
  width: 80%;
}


footer {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 70px;
}


footer div {
  position: absolute;
  right: 0;
  width: 112px;
  z-index: 1;
}


.codakid-icon {
  background-image: url('codakid logo.jpg');
}

.youtube-icon {
  background-image: url('hi.png');
}

.facebook-icon {
  background-image: url('facebook icon.jpg');
}

footer div a {
  background-size: 100% 100%;
  display: inline-block;
  height: 25px;
  overflow: hidden;
  text-indent: 101%;
  width: 25px;
}
